*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.float-left{
  float:left;
}

.float-right{
  float: right;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

ul{
  list-style: none;
}
/* ! GENERAL RULES end */

/* ! HEADER START */
header{
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-position: 110% 100%;
  background-size: 65%;
  background-color: #0c325a;
  color: white;
  /* delete this below */
  height: 550px;
}

/* ! CONTAINER START */
.container{
  height: 100%;
  width: 85%;
  margin: auto;
  /* delete this below */
  /* background-color: rgba(204, 188, 172, 0.5); */
}

/* ! HEADER-NAV START */
.header-nav{
  line-height: 80px;
  height: 80px;
  /* delete this below */
  /* background-color: rgba(140, 224, 162, 0.5); */
}

/* ! LOGO START */
.header-logo{
  height: 100%;
  /* delete this below */
  /* width: 20%; */
  /* background-color: red; */
}

.header-logo img{
  margin-top: 15px;
}

.header-nav a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.header-nav li{
  display: inline-block;
  padding: 0 10 px;
}

/* ! HEADER-NAV CENTER */
.header-nav-center{
  height: 100%;
  margin-left: 50px;
  /* delete this below */
  /* background-color: rgba(50, 224, 162, 0.3); */
  }

.header-nav-right{
  height: 100%;
  /* delete this below */
  /* background-color: rgba(50, 224, 162, 0.3); */
}


































/* ! FOOTER START */
